@model ShoppingWeb.Models.CartItem
<div class="row-fluid">
    <div class="span4">@Model.Product.ProductName</div>
    <div class="span2 right">$@Model.Product.Price</div>
    <div class="span2 right">@Model.Quantity</div>
    <div class="span4 right">$@Model.ItemTotal</div>
</div>
